.students .header{
    font-size: 40px;
    font-weight: bold; 
    color: rgb(50, 37, 235);
    background: linear-gradient(orange,skyblue);
    text-shadow: 3px 3px 7px rgb(240, 21, 21);
    letter-spacing: 4px;
    padding: 10px 0px;
}

table {
    width: 80%; 
    border-collapse: collapse;
    margin:  2rem auto; 
  }
  
  th, td {
    padding: 12px; 
    text-align: left; 
    border: 1px solid black; 
    text-transform: capitalize;
  }
  
  